[2021-08-24 14:09] nb9960 opened #3 "Maintain state when network connectivity is lost"
State of the Hike Screen shouldn't get affected when connectivity is lost. [Hive](https://pub.dev/packages/hive) has been used to store data in the local database so that when connectivity is lost, locally saved data can be consumed, but as of now, local data hasn't been used anywhere.

[2021-08-24 14:18] nb9960 opened #4 "Feature to relay the beacon"
A beacon can be transferred from one device to another, typically because there's a change in whoever is leading the group.
For this, `changeLeader` mutation needs to be used (Check [playground link](https://beacon.aadibajpai.com/graphql) for details). Note: There might be a case when newLeader isn't active, for this, one need to update the location of each and every user beforehand (if beacon loc

[2021-08-24 15:08] nb9960 opened #5 "Feature to pre-schedule the beacon and deactivating on leader's demand"
Similar to issue #4 in this case too, beacon location should be pre-specified; otherwise, it might lead to process failure. Notification scheduler feature of [flutter_local_notifications](https://pub.dev/packages/flutter_local_notifications) can also be used to inform users (leader as well as followers if any) when Hike has started.
As of now, `startsAt` field in beacon model is specified as `Date

[2021-08-24 15:11] nb9960 opened #6 "Share route if beacon is active"
Whenever a new location is fetched from `beaconLocation` subscription, it gets stored in the route list. This can be used to share route if the beacon is active.

[2021-11-12 04:16] KunjKanani commented on #3
@nb9960 I want to work on this issue.

[2021-11-12 12:10] bayush-9 opened #7 "Project failing to build."
The debug log is:

[code]
Can anyone help me out?

[2021-11-12 12:45] bayush-9 commented on #7
Downgrade flutter version for texttheme issues. The api key for the google maps is also hidden.

[2021-11-12 12:45] #7 closed

[2021-12-08 09:21] Manan2307 commented on #3
Can I work on this? @nb9960

[2021-12-25 08:32] Literal-Eval opened #8 "Update the flutter version and other packages"
The app no longer works. Most probably it's an issue with one (or more) package versions.
Pubspec needs to be updated.

[2021-12-25 18:19] nb9960 commented on #8
I just checked, other than `flutter_duration_picker`, everything works perfectly and the app gets compiled too.
This package certainly needs to be replaced. Would you like to work on this?

[2021-12-26 02:34] Literal-Eval commented on #8
Yep. I'll work on this.
And about issue #7 , I think instead of downgrading flutter, upgrading plugins would be a more robust solution.

[2021-12-26 06:52] nb9960 commented on #8
Yep, version updates are much needed. Assigning it to you!

[2021-12-26 08:12] Pavel401 commented on #8
Hi, I tried to run the app on my device but i am getting some errors.

`[+11781 ms] [+13695 ms] ../../flutter/.pub-cache/git/flutter_duration_picker-285ff19ad8b440fb6b8727ea849b7ce679d67c75/lib/flutter_duration_picker.dart:104:18: Error:
The getter 'display3' isn't defined for the class 'TextTheme'.
[   +2 ms] [   +2 ms]  - 'TextTheme' is from 'package:flutter/src/material/text_theme.dart' ('../..

[2021-12-26 09:24] Literal-Eval commented on #8
@nb9960 flutter_duration_picker is obsolete. At first I thought of downloading their code and migrating it accordingly, but then I found something similar, [https://pub.dev/packages/duration_picker](url).

I propose to use this plugin instead of flutter_duration_picker.

[2021-12-26 12:21] Literal-Eval opened #10 "Location Permission"
The app can't request for location permission in my device, and it needs to be manually permitted.
- Is this the expected behavior ?
- If so, it there any specific reason to not let the app ask for permission ?

[2021-12-26 12:41] Aadeesh11 commented on #10
I too had the same behaviour.

[2021-12-26 12:49] nb9960 commented on #10
Earlier, there was some issue because of [this](https://github.com/Baseflow/flutter-geolocator/issues/653) but it seems as if this has been fixed so now yeah asking for permission behavior needs to be changed.

[2021-12-26 13:24] Aadeesh11 opened #11 "Migrating Deprecated Widgets and Removing unused imports."
- FlatButton should not be used, instead use TextButton.
- Remove multiple unused imports.

I would like to work on this issue, please assign it to me.

[2021-12-26 13:25] Divijkatyal0406 opened #12 "Build Failure!"
Hi! I am new to open source contribution. I forked the repository and ran the app in debug mode on my system but build failed and I am unable to understand what's the cause behind it. Someone please help!
I have attached the description of error.
<img width="960" alt="help" src="https://user-images.githubusercontent.com/81143854/147409482-5d47ed52-0d8e-45ef-86c0-adf95adde707.png">

[2021-12-26 13:36] Divijkatyal0406 opened #13 "Use of deprecated duration picker widget"
Hi! I am new to open source contribution. I am interested in contributing to this app. I went through the codebase and found that there's a deprecated implementation of duration picker. I would like to be assigned to this issue so that I can adapt it to a newer version.

[2021-12-26 13:41] Divijkatyal0406 commented on #11
Hi! Is the app running on your system? I am facing build failures.
<img width="960" alt="help" src="https://user-images.githubusercontent.com/81143854/147409932-91200a2c-b13c-478d-91f1-b8ca6cbe4d2a.png">

[2021-12-26 13:50] nb9960 commented on #12
You've not entered the `MAPS_API_KEY` in .env file. Make sure to go through the setup instructions in README.md

[2021-12-26 13:50] #12 closed

[2021-12-26 13:51] nb9960 commented on #13
Thanks for opening the issue, but PR #9 would probably fix this.

[2021-12-26 13:51] #13 closed

[2021-12-26 13:52] nb9960 commented on #11
Thanks for opening the issue, assigning it to you!  @Aadeesh11

[2021-12-26 14:17] Literal-Eval commented on #10
Assign this to me.

[2021-12-26 14:29] Aadeesh11 commented on #11
Yes the app is running in my local system, though i had to make few changes.
PR #9 would probably fix this.

[2021-12-26 14:50] Aadeesh11 opened #15 "Overflow issue on homescreen."
Getting a overflow issue on Homescreen due to the 2 buttons.

![overflow](https://user-images.githubusercontent.com/66922161/147411713-fcbd2d48-2306-4d2a-88d8-965718ec777c.jpeg)

I would like to work on this, please assign it to me.

[2021-12-26 14:55] Divijkatyal0406 commented on #12
Yeah I added that in a new .env file but still error persists.

[2021-12-26 15:20] Aadeesh11 opened #16 "Misaligned Buttons on dialogue box."
When you try to terminate a hike or logout, the yes/no buttons are misaligned.

How it is:
<img width="283" alt="Current" src="https://user-images.githubusercontent.com/66922161/147412430-6db7ea8c-f542-4f25-8b5b-348237b868fe.png">

How it can be:
<img width="281" alt="Screenshot 2021-12-26 at 8 48 10 PM" src="https://user-images.githubusercontent.com/66922161/147412477-0ab8efe7-16da-4c74-9d96-bf0f

[2021-12-26 15:48] Aadeesh11 opened #17 "[Hike Screen] Unexpected behaviour when leader tries to change duration."
When the leader tries to change the duration, the dialogue that pops up does not provide an option to change duration.

<img width="280" alt="DurationChangeError" src="https://user-images.githubusercontent.com/66922161/147412800-9b922c7b-ab5a-44a1-aa72-2ac4aad82266.png">

I would like to work on this, please assign this to me.

[2021-12-26 17:12] nb9960 commented on #10
Okay, Assigning this to you.

[2021-12-26 17:15] nb9960 commented on #15
Assigning it to you @Aadeesh11. I would suggest using [sizer](https://pub.dev/packages/sizer) for responsiveness.

[2021-12-26 17:22] nb9960 commented on #16
Again, this is because constant values have been used in some places. Can you change all the constant parameters using [sizer](https://pub.dev/packages/sizer)?

[2021-12-26 17:22] Aadeesh11 commented on #15
I have already fixed the issue, but will have a look at sizer too.

[2021-12-26 17:28] nb9960 commented on #17
Changing duration feature was planned to be implemented but wasn't implemented. I don't remember exactly if this was implemented on the backend or not. Check the backend schema [here](https://beacon.aadibajpai.com/graphql) before working on this.

[2021-12-26 17:36] nb9960 commented on #15
Yes, I just checked your commit, you have used constant values. It would be better to change it and make it responsive throughout using sizer as a good practice.

[2021-12-26 17:38] Aadeesh11 commented on #17
Thanks, will have a look.

[2021-12-26 17:42] Aadeesh11 commented on #15
Ok, but the constant value is for the button height (that is the vertical padding) which is same regardless of the screen size, so how would i use sizer here? 🤔

[2021-12-26 17:42] Aadeesh11 commented on #16
Sure , will try to do it.

[2021-12-26 19:31] Aadeesh11 commented on #17
I had a look at the schema, as much as i understood, there was no mutation available to change the duration/time of the beacon.
So should we remove the text that says "double tap to change duration" as it leads to unexpected UX and also the button that opens the dialogue maybe?

[2021-12-26 20:03] Aadeesh11 opened #20 "[Beacons]: Users can see beacons even after they have expired."
Users can see beacons even after they have expired in your beacon section.

Expected behaviour can be:
    1. Either make a new tab showing expired beacons,
    2. Do not show expired beacons entirely,
    3. Show expired beacons at the very last in your beacons section.

I would like to work on this issue.

[2021-12-26 20:07] ItsAdityaKSingh opened #21 "Overlapping occurrence on Home"
### Buttons on home screen overlapping with the Tab below it.
**The Issue is as shown:**

<img src="https://user-images.githubusercontent.com/69353350/147418851-32e50244-c301-471f-b1a7-9456f14b310f.png" height="500"/>

**It could be something like:**

<img src = "https://user-images.githubusercontent.com/69353350/147418841-a8062d10-8d0d-4909-9da2-69197c9f1a5e.png" height="500"/>

[2021-12-26 20:07] ItsAdityaKSingh commented on #21
@nb9960 I would like to work on this issue.

[2021-12-26 20:14] ItsAdityaKSingh opened #22 "Appearance of Sign In button"
## The SIGIN button for new users has a weird appearance.
<img src="https://user-images.githubusercontent.com/69353350/147419010-dd2a5e4d-6331-42c6-85bc-af76e921fdb8.png" height="500"/>

- Instead of **SIGNIN** we can show it as **SIGN IN**
- Also we could change the width of the button to make it look more pleasant.

[2021-12-26 20:14] ItsAdityaKSingh commented on #22
If this issue seems genuine, could you assign it to me @nb9960 ?

[2021-12-26 20:28] ItsAdityaKSingh opened #23 "Offbeat Label and Hint Text"
## The label and hint text style have a few odd format settings.

#### The current 'Join a Hike' pop up has:

<img src="https://user-images.githubusercontent.com/69353350/147419204-942fd933-423a-4665-8373-050b9265252e.png" height="500"/>

- Black and Bold hint-text
- Weirdly sized **validate** button
- Too small label text

#### The current 'Create Hike' pop up has:

<img src="https://user-images.

[2021-12-26 20:28] ItsAdityaKSingh commented on #23
@nb9960 I would like to work on these improvement issues. Could you assign them to me?

[2021-12-27 07:26] ItsAdityaKSingh opened #25 "Marginal sizing improvements"
### Instead of using constants or MediaQuery sizing we could use sizer package for
1. heights,
2. widths,
3. paddings, and
4. margins,

**It would improve simplicity of code and result in less overflow or overlapping errors in any screen size.**

[2021-12-27 07:26] ItsAdityaKSingh commented on #25
I would like to work on this issue. @nb9960 could you please assign it to me?

[2021-12-27 10:15] devansh12b2 opened #26 "Add Github actions"
I will like to introduce Github actions on the project.

[2021-12-27 12:19] Aadeesh11 opened #27 "[Auth Screen] Bug: If keyboard is open and we switch tabs, keyboard stays open and input is connected to prev tab."
Here is a screen recording of the issue: (which also happens while manually swiping across screen to change tabs)

https://user-images.githubusercontent.com/66922161/147469173-3f4c407f-2833-4e93-98de-ccd90243159f.mp4

How it can be:

https://user-images.githubusercontent.com/66922161/147470999-9fe82d8d-e712-427c-8eec-b8e8b0746adb.mp4

[2021-12-27 12:25] Aadeesh11 commented on #27
I would like to work on this, @nb9960 please assign this to me.

[2021-12-27 14:01] #8 closed

[2021-12-27 14:15] #11 closed

[2021-12-27 15:32] nb9960 commented on #17
Instead of removing that part, comment it out (adding `Todo:` and the reason why it's not being implemented) as this feature is necessary and needs to be implemented later.
And let's wait for this to get implemented on the backend first.

[2021-12-27 15:54] nb9960 commented on #20
Expired beacons were intended to be displayed so that one could view the route.
Along with 3rd (i.e., Show expired beacons at the very last in your beacons section) other changes that need to be done w.r.t this:
- No streams should be running (including the one that tracks location)
- If the user tries to share a URL or shortcode or if the user tries to join the expired beacon, a snackbar should a

[2021-12-27 16:04] nb9960 commented on #21
Isn't this somewhat related to #19? I mean adjusting all parameters using sizer should fix this too (most probably), if you have any other solution then do let me know.

[2021-12-27 16:09] nb9960 commented on #22
UI needs to be consistent. Changing the sign-in button's width in one place would mean changing it everywhere possible.

Assigning it to you!

[2021-12-27 16:14] nb9960 commented on #23
Yes, text theme and button theme needs to be consistent throughout the application. I would suggest you to fix button theme throughout the app while working on #22 and text theme here.
Assigning it to you @ItsAdityaKSingh!

[2021-12-27 16:15] nb9960 commented on #25
Sure, assigning it to you!

[2021-12-27 16:30] ItsAdityaKSingh commented on #21
Yes, surely. I too was open to using sizer but as mentioned in issue #25 , instead of implementing sizer once or twice to fix overflow couldn't we use it once and for all including padding, heights, etc. It would make the application's UI free from any sort of rendering issues. Also, always using MediaQuery could be prevented! Your views on this?

[2021-12-27 16:31] ItsAdityaKSingh commented on #23
Yup, I'll do my best to take care of that. Thank You!

[2021-12-27 16:44] nb9960 commented on #21
Yes, this issue would be fixed by #19 and while fixing #25, so closing this.

[2021-12-27 16:45] #21 closed

[2021-12-27 17:00] ItsAdityaKSingh commented on #21
Sure. That would do well!

[2021-12-27 17:33] Aadeesh11 commented on #17
Thanks, will comment it out. 👍

[2021-12-27 17:56] #16 closed

[2021-12-27 18:37] devansh12b2 opened #31 "Polyline is not visible."
In map the polyline is not visible.

[2021-12-27 19:36] ItsAdityaKSingh opened #32 "Buttons getting below visible screen"
## Upon entering wrong credentials or leaving field empty, the buttons underflow the working area of screen.

<img src="https://user-images.githubusercontent.com/69353350/147501968-1b3b968d-779c-4223-8f2c-af68fd98264d.png" height="500">    <img src="https://user-images.githubusercontent.com/69353350/147501855-563f12ea-c9c8-4fd7-95e6-225cb8cd0bd0.png" height="500">

[2021-12-27 19:37] ItsAdityaKSingh commented on #32
I would like to work on this issue @nb9960

[2021-12-27 20:41] ItsAdityaKSingh opened #34 "Oversized containers"
## There are a few instances wherein the box size is more compared to its contents.

<p align="center">

<img src="https://user-images.githubusercontent.com/69353350/147505778-6bdf4faa-6cb6-49c2-a305-4309188aaf44.png" height="500" />

</p>

[2021-12-27 20:42] ItsAdityaKSingh commented on #34
@nb9960 Could you assign it to me so that I can solve this issue along with issue #22 .

[2021-12-27 20:49] ItsAdityaKSingh opened #35 "Leader's name in nearby beacons is returned as null"
## Upon terminating the hike and coming back to home screen, my own beacon is shown as Anonymous.

<p align="center">
<img src="https://user-images.githubusercontent.com/69353350/147506133-374e1dbf-0847-49b7-9a90-b6eafe998b98.png" height="500"/>  <img src="https://user-images.githubusercontent.com/69353350/147506130-253a412c-3ffc-4422-97e9-35f97ca4f36e.png" height="500"/>

</p>

Is this a bug or i

[2021-12-27 20:51] ItsAdityaKSingh commented on #35
If it's a genuine bug, or the mechanism needs to be different, I would like to work upon it @nb9960 .

[2021-12-27 20:57] ItsAdityaKSingh opened #37 "Expired Beacons"
### Shouldn't my expired beacons be showing 'EXPIRED' instead of remaining switched on upon passing given duration and asking me to terminate it again?

<img src="https://user-images.githubusercontent.com/69353350/147506671-b006f56f-ddfc-4f0e-b635-a94ae21a6698.png" height="500"/>

***Notice the expiry time.***

[2021-12-27 20:59] ItsAdityaKSingh commented on #37
If my issue is genuine here, then I would like to work upon it @nb9960 .

[2021-12-27 21:00] Aadeesh11 commented on #37
#33 will fix this 😅 mostly.

[2021-12-27 21:15] ItsAdityaKSingh commented on #37
Voila! Closing this issue then.

[2021-12-27 21:15] #37 closed

[2021-12-27 21:16] Aadeesh11 commented on #6
I would like to work on this, please assign this to me.
Also how should route be shared, for eg: through a screenshot of the map maybe?

[2021-12-28 01:56] Literal-Eval opened #38 "Lack of tests"
I think it's good to start writing tests before the codebase gets huge and unmanageable. Kindly add some coverage threshold (5% - 10% will be fine for now), so that before further PRs, contributors would focus on writing tests.

[2021-12-28 04:38] devansh12b2 commented on #5
I will like to work on this issue please assign it to me @nb9960 .

[2021-12-28 06:26] devansh12b2 opened #39 "No error message visible on setting duration to 0"
When we set duration to zero no error message is displayed.

![IMG-20211228-WA0094](https://user-images.githubusercontent.com/79010144/147535166-e9aedce7-96d6-4930-8160-290272cae216.jpg)

[2021-12-28 06:36] devansh12b2 commented on #39
I will like to work on it please assign it to me @nb9960 .

[2021-12-28 07:52] nb9960 commented on #31
@cfsmp3 For polyline to work, billing needs to be activated on google cloud platform. [Ref](https://www.fluttercampus.com/guide/75/how-to-solve-poly-line-not-drawing-on-google-map-flutter/#3-activate-billing-on-google-cloud-platform)

[2021-12-28 07:56] nb9960 commented on #6
Screenshot along with other necessary details like starting and current location

[2021-12-28 08:07] ItsAdityaKSingh commented on #38
Once github actions are set up, then tests could be deployed!

[2021-12-28 09:49] ItsAdityaKSingh commented on #4
@nb9960 Could I work on this feature?

[2021-12-28 09:57] cfsmp3 commented on #4
Anyone can work on anything in open source.
Just work on it and submit a PR :-)

[2021-12-28 10:03] cfsmp3 commented on #31
This is specific to each backend deployment, isn't it? I think you are still using aadi's, right?

What we should do ASAP is get an official dev backend (but I need a proper installer and/or instructions, I don't want to put a lot of fight here because that's a sign we're not ready for production, and the idea is that anyone can have their own deployments) that I can link with my credit card and b

[2021-12-28 10:37] nb9960 commented on #31
No, this is not related to backend. Currently, `Google Maps API Key` is being used in the frontend for maps to work and is passed as env variable but premium features of google maps (like polyline) are paid so billing needs to be done

[2021-12-28 10:47] Aadeesh11 opened #41 "CI failing due to flutter analyse command."
Some code refactoring needs to be done on current codebase for flutter analyse to pass.

I would like to work on this issue.

[2021-12-28 11:03] cfsmp3 commented on #31
Where is that key stored and why what mechanism can be ensure that only our "official" frontend deployment can use it?

Obviously I don't want to pay for everybody's use of maps :-)

[2021-12-28 12:47] #41 closed

[2021-12-28 13:29] #15 closed

[2021-12-28 15:03] ItsAdityaKSingh opened #44 "Existing and New Users input errors connected"
## Upon running into an error on the Existing Users screen or New Users screen, the other screen starts showing an error message too.

https://user-images.githubusercontent.com/69353350/147579381-42c57141-22d4-4455-b5d6-3a6d81fdf0a3.mov

[2021-12-29 09:59] ItsAdityaKSingh commented on #34
#45

[2021-12-29 10:00] ItsAdityaKSingh commented on #34
#45

[2021-12-29 10:54] devansh12b2 opened #46 "[Tests]: Write Test for beacon project."
The following architecture needs to be followed while writing tests:
- model_tests
- service_tests
- widget_tests
- viewmodel_tests

- [ ]  Login Screen
- [ ] Home page
- [ ] beacon_card.dart
- [ ] create_join_dialog.dart
- [ ] dialog_boxes.dart
- [ ] hike_button.dart
- [ ] hike_screen_widget.dart
- [ ] shape_painter.dart

For the Hike screen, MVVM architecture isn't followed so I am creating an i

[2021-12-29 10:55] devansh12b2 commented on #46
I will like to work on 1 of these.

[2021-12-29 10:58] Aadeesh11 commented on #46
I would also like to write tests for a screen.

[2021-12-29 11:03] ItsAdityaKSingh commented on #46
I too would like to work on writing these tests!

[2021-12-29 11:54] Literal-Eval opened #47 "Adding tests"
lib/components

- [ ] beacon_card.dart
- [ ] create_join_dialog.dart
- [ ] dialog_boxes.dart
- [ ] hike_button.dart
- [ ] hike_screen_widget.dart
- [ ] shape_painter.dart

Assign some of these to me.

[2021-12-29 11:55] #38 closed

[2021-12-29 12:37] ItsAdityaKSingh commented on #47
There's already issue #46 with the same purpose. If possible could you add these tasks there instead of creating a new one for easy referencing?

[2021-12-29 13:55] nb9960 commented on #46
Edited the above list, feel free to comment here for the specific widget/screen/model/query/mutation you want to work on (you can add to the list too), will assign you by mentioning there. But remember only one particular task at a time :)

@devansh12b2 @Aadeesh11 @ItsAdityaKSingh @Literal-Eval

[2021-12-29 13:57] #47 closed

[2021-12-29 13:59] nb9960 commented on #44
PR #30 will handle this. I've mentioned this issue there, didn't look into this earlier

[2021-12-29 13:59] #44 closed

[2021-12-29 14:02] #39 closed

[2021-12-29 14:22] #27 closed

[2021-12-29 14:29] #26 closed

[2021-12-29 15:15] nb9960 commented on #35
This is because nearbyBeacons query in the backend gives out null as the leader's name. You can confirm this [here](https://beacon.aadibajpai.com/graphql).
For padding related issues, it would be better if you could fix it with other UI oriented issues

[2021-12-29 16:13] ItsAdityaKSingh commented on #35
Ok, thanks for clarifying. I would surely look into it.
The padding issue has been fixed in PR #45

[2021-12-29 19:11] Aadeesh11 opened #48 "[Beacons]: User is able to join his own newly created beacon."
When user creates a beacon, and tries to join it, the number of followers go up by 1.

In this image anonymous (user) is same as of twst (user).
<img width="349" alt="Screenshot 2021-12-30 at 12 38 41 AM" src="https://user-images.githubusercontent.com/66922161/147695549-f8822a78-3fde-49a5-8d2b-8a3851442308.png">

Is this the expected behaviour? If no, then i would like to work on this.

[2021-12-29 19:36] nb9960 commented on #48
Firstly, the User should not be able to join the beacon he is already part of (i.e., either he is a leader or follower). As all the beacons he is a part of are displayed under `your beacons` and can be navigated from there.
Secondly, when the beacon's details are fetched using `query beacon(...)` leader's name is returned as null, because of which Anonymous is getting displayed.

[2021-12-29 20:11] Aadeesh11 commented on #48
Ok, would create an issue at the backend repo for this.

[2021-12-30 08:45] #20 closed

[2021-12-30 10:33] ItsAdityaKSingh opened #49 "Issue and Pull Request Templates"
We could add structured issue and pull request templates for easier understanding and working of issues and PRs.

[2021-12-30 19:32] Aadeesh11 commented on #3
@Manan2307 are you still working on this?

[2022-01-01 09:20] Manan2307 commented on #3
No You can take it @Aadeesh11

[2022-01-02 05:48] devansh12b2 commented on #5
For deactivating beacon: No such mutation exists in the backend.

[2022-01-02 06:51] ItsAdityaKSingh opened #52 "Feature: Reminder for a pre-scheduled hike"
After issue #5 is addressed we could further enhance it by **allowing other users to pin a scheduled hike**.
We could also give them **notifications beforehand, on some set timers (say like 24 hours before -> 12 hours before -> 1 hour before)**, to be able to join the hike on time!

[2022-01-02 06:52] ItsAdityaKSingh commented on #52
If this feature seems to be valid, I would like to work on it @nb9960

[2022-01-04 15:29] ItsAdityaKSingh opened #54 "No Exit Pop on Home or Authorisation screen"
There is no emergency pop-up confirmation for exiting the home screen. Users may, by mistake, click the back button, and it would close the app. Instead, we could provide an emergency pop-up to confirm the exit of our users from the app.

[2022-01-04 15:29] ItsAdityaKSingh commented on #54
I would like to introduce this feature @nb9960

[2022-01-07 07:55] ItsAdityaKSingh opened #56 "Forgot password option"
There's no **forget password** option on the login screen or a way to retrieve a forgotten password of one's account. This makes it really difficult for a user to log in once the password is forgotten.

[2022-01-07 07:58] ItsAdityaKSingh commented on #56
@nb9960 Could I work on introducing this feature?

[2022-01-09 14:00] Aadeesh11 opened #57 "Refactor the Hike screen to follow stacked MVVM architecture."
It would be better to add this entire function in the Hike screen view model (which I guess isn't being used right now). So maybe create a new issue to refactor the Hike screen to make it more readable.

_Originally posted by @nb9960 in https://github.com/CCExtractor/beacon/pull/51#discussion_r780778058_

I would like to work on this, please assign it to me.

[2022-01-09 14:05] Aadeesh11 commented on #57
@nb9960 do we need to refractor it to follow mvvm structure or just refractor it to make it more readable?

[2022-01-10 07:53] ItsAdityaKSingh opened #58 "An about page and onboarding screen"
An about page can be added having information related to the app's usage and functionality. Moreover, an onboarding screen for first-time users can be introduced to familiarize them with the app's environment!

[2022-01-10 07:54] ItsAdityaKSingh commented on #58
@nb9960 Could I work upon implementing these changes?

[2022-01-10 08:13] nb9960 commented on #58
What all information needs to be conveyed on the about page? Neither the app is that complicated, nor does it contain that many features for which about page is required.
As per the onboarding screen is considered; the splash screen is there; if you want to propose improvements, then sure, go ahead.

[2022-01-10 08:16] nb9960 commented on #57
Both. It needs to follow MVVM architecture as well as it should be readable.

[2022-01-10 08:20] ItsAdityaKSingh commented on #58
Ok! So we can drop the idea of including any about page.
About the onboarding screen, I was thinking about just a few more introductory pages showing functionality of buttons or features an user could discover in our app. Your views on this?

[2022-01-10 11:20] #49 closed

[2022-01-10 15:32] nb9960 commented on #58
This would be good for first-time installers and not every time a user opens the app.

[2022-01-10 16:32] ItsAdityaKSingh commented on #58
Yes, that's the idea! Right now, there's no walkthrough.

[2022-01-12 14:16] #22 closed

[2022-01-12 14:16] #23 closed

[2022-01-12 14:16] #32 closed

[2022-01-12 14:16] #34 closed

[2022-01-12 20:41] ItsAdityaKSingh opened #59 "No validation for Name field"
**Describe the bug**
No error is thrown for the name field if left empty, on the Sign Up page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Sign Up page'
2. Click on 'Sign Up'
3. See error

**Expected behavior**
The name field should also throw an error for not to be left empty.

**Demonstration**

<img src="https://user-images.githubusercontent.com/69353350/149217993-bd155e67-1bf

[2022-01-12 20:57] ItsAdityaKSingh opened #60 "Registered Users Signing up"
Registered users, upon signing up, receive a message saying "**Something went wrong**"

Instead, they can be informed that they are already registered and should try logging in instead of signing up again.

### Screenshot for details:

<img src="https://user-images.githubusercontent.com/69353350/149220264-5fc8ef67-0ae2-407e-9b49-7993a05c350c.png" height="500"/>

**Are you working on this issue**
Y

[2022-01-13 04:00] Shashwat2708 commented on #60
I can help with this issue.
I would love to be assigned to this issue as this can create a misunderstanding in the users mind whether it is the app or their internet.

[2022-01-13 04:03] Shashwat2708 commented on #59
Actually this can be done by adding a simple validator in the text form field which checks if the value is empty or there is something wrong with the email Id and password and a respective message can be displayed accordingly.

You can either try a try and catch block which I honestly think will be better but an if else block could also work just fine.

[2022-01-13 12:05] Aadeesh11 commented on #25
Device: Samsung M21. (branch : Main)

<img width="283" alt="Screenshot 2022-01-13 at 5 29 33 PM" src="https://user-images.githubusercontent.com/66922161/149326392-e162c543-0314-4d93-bdc8-5d17a836c94a.png">
<img width="279" alt="Screenshot 2022-01-13 at 5 30 56 PM" src="https://user-images.githubusercontent.com/66922161/149326598-2397bb70-c714-4729-8274-a3873c93940a.png">
<img width="281" alt="Scre

[2022-01-13 14:43] Shashwat2708 commented on #59
@ItsAdityaKSingh i am sure you will be able to fix it but let me know if any doubts or you need any help.

[2022-01-14 18:51] ItsAdityaKSingh opened #65 "Eye Icon change unnoticed"
The eye icon in the password field changes its boldness upon clicking, which can be improved by allowing a slash to signify its state better.

<img src="https://user-images.githubusercontent.com/69353350/149568997-d46ca366-6c1f-4266-a5ce-617b752b0ca1.jpeg" height="500"/> <img src="https://user-images.githubusercontent.com/69353350/149569002-51a6a531-07e3-44cf-b8e8-72d1cbae7672.jpeg" height="500"/>

[2022-01-14 19:01] ItsAdityaKSingh opened #67 "Overflowing in beacon card"
**Describe the bug**
Overflowing of beacon card in the home screen

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Home Screen'
2. Create a 'New hike with long title'
3. Scroll down to 'Beacon Tab'
4. See error

**Expected behavior**
No overflowing should be noticed

**Demonstration**
![photo_2022-01-15 00 28 44](https://user-images.githubusercontent.com/69353350/149570546-59956bf3-e

[2022-01-17 15:07] #54 closed

[2022-01-17 15:37] #67 closed

[2022-01-17 15:38] #65 closed

[2022-01-19 10:15] ItsAdityaKSingh opened #70 "Multiple Error messages being shown"
**Describe the bug**
Whenever we try to sign up or log in and incur any error, we get shown up with 2 different error messages as shown below.
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Log in or Sign up page'
2. Enter any wrong input or password.
3. See error.

**Expected behavior**
It should only be showing the main error message.

**Demonstration**

https://user-images.githubu

[2022-01-19 15:47] noman2002 opened #71 "Overlapping of buttons on home screen."
Create hike and join hike button are getting overlapped on hike screen.
<img src="https://user-images.githubusercontent.com/54404474/150165286-935e2362-2cea-4d8d-8cc7-e71ff24ab77c.png" height="550" width="250" />

[2022-01-19 15:47] noman2002 commented on #71
Please assign it to me. I am working on it.

[2022-01-19 17:49] ItsAdityaKSingh commented on #71
@noman2002 Which emulator are you using? Have you fetched all the latest commits on the main branch?

[2022-01-19 18:07] noman2002 commented on #71
@ItsAdityaKSingh I'm using pixel 4a. I have fetched all the commits but Your PR is not merged in the main branch.

[2022-01-19 19:14] ItsAdityaKSingh commented on #71
Thanks for confirming! You would like to check #63 as it would also fix the mentioned issue!

[2022-01-20 12:12] ItsAdityaKSingh opened #73 "Sliding tab on Hike Screen"
**Is your feature request related to a problem? Please describe.**
The sliding bar on the hike screen, when open, should close upon clicking anywhere else on the screen. Instead of it, when clicked anywhere on above, it initiates creating a landmark.

**Describe the solution you'd like**
Slide down the open tab to min-height upon clicking anywhere else.

**Demonstration**

https://user-images.gith

[2022-01-20 19:13] ItsAdityaKSingh opened #75 "Design of Hike Screen"
**Describe the bug**
The custom paint widget on the hike screen hides a part of the map from above. But upon pressing randomly anywhere on it, create landmark pop-up appears.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Hike Screen'
2. Click on 'Custom Paint widget'
3. See 'Create Landmark'

**Expected behavior**
Either the design should be minimized or removed for a better look a

[2022-01-20 19:14] ItsAdityaKSingh commented on #75
If you find this issue worth amending, I would like to work on it @nb9960.

[2022-01-20 19:16] ItsAdityaKSingh commented on #10
Are you still working on this @Literal-Eval?

[2022-01-21 16:16] #70 closed

[2022-01-21 16:17] #60 closed

[2022-01-21 16:25] nb9960 commented on #52
Prescheduling the beacon is handled in #53 along with joining the pre-scheduled beacon, and notification is thrown when the beacon starts. Not sure if we still need this but still, it's open for discussion

[2022-01-21 16:26] nb9960 commented on #56
I doubt if backend is ready for this

[2022-01-21 17:11] ItsAdityaKSingh commented on #56
Yes, @nb9960. I went through the backend and did not find any such functionality. So should I be closing this issue or keep it open for future references and improvements after work is done in the backend?

[2022-01-21 17:16] ItsAdityaKSingh commented on #52
In #53, a notification is displayed when the hike has started. One can be notified and reminded at a certain time interval earlier too if one forgets about it.

[2022-01-21 19:03] ItsAdityaKSingh opened #76 "Reverse list of user-created beacons"
**Describe the bug**
The list of a user's beacons is in reverse order of recently created beacons.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Home Screen'
2. Scroll down to 'Your Beacons'
3. See the error

**Expected behavior**
It should have the recent beacons on top, and then the formers.

**Demonstration**
![Screenshot_1642789912](https://user-images.githubusercontent.com/693

[2022-01-21 19:11] Pavel401 commented on #58
I want to work on it. I can make an Onboarding page that will appear to new users.

[2022-01-21 19:32] MabudAlam opened #78 "The plugin geocoder uses a deprecated version of the Android embedding."
**Describe the bug**
The plugin `geocoder` uses a deprecated version of the Android embedding.
To avoid unexpected runtime failures, or future build failures, try to see if this plugin supports the Android V2 embedding. Otherwise, consider removing it since a future release of Flutter will remove these deprecated APIs.
If you are plugin author, take a look at the docs for migrating the plugin to t

[2022-01-21 19:39] ItsAdityaKSingh opened #79 "Only Capital Passkey Values allowed"
**Describe the bug**
Only capital Passkey values are allowed. Users can't enter passkey in small cases even if the passkey's right.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'HomeScreen'
2. Click on 'Join a Hike'
3. Enter a passkey in small case
4. See error

**Expected behavior**
User should be able to enter the hike with the right passkey, irrespective of upper or small case e

[2022-01-21 19:44] ItsAdityaKSingh opened #80 "Multiple and unsure errors by dialog boxes"
**Describe the bug**
There are multiple and unclarified issues shown upon clicking on dialog boxes. Validator issues hide due to snack bar issues being shown and proper issues aren't shown properly.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Home Screen'
2. Click on 'Create Hike or Join Hike'
3. Click Create or Validate button
4. See error

**Expected behavior**
Errors and valid

[2022-01-21 19:48] ItsAdityaKSingh opened #81 "Create Hike dialog box UI"
**Describe the bug**
Error messages coming over label text. Box overflowing in some smaller screen sizes. Also multiple borders are enabled which could be turned off for uniformity.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Home Screen'
2. Click on 'Create Hike'
3. Open keyboard
4. See error

**Expected behavior**
The box should remain constant upon opening the keyboard.

**Env

[2022-01-21 19:57] ItsAdityaKSingh opened #82 "Cannot create hike immediately"
**Describe the bug**
Creating a hike immediately doesn't seem to work. It only works for prescheduling hikes.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Home Screen'
2. Click on 'Create Hike'
3. Fill out current time and date
4. Click Create

**Expected behavior**
Hikes should be created immediately as required and also pre-scheduled.

**Demonstration**

https://user-images.gith

[2022-01-22 08:39] Aadeesh11 commented on #78
None of geocoder2 1.0.0 or geocode 1.0.1 provide "local" geocoding.

[2022-01-22 08:44] Aadeesh11 commented on #79
Backend only generates passkeys which have capital alphabets in them.

[2022-01-22 09:08] ItsAdityaKSingh commented on #76
Yup! But the expired beacons need to be sorted by recent ones. The active ones should, as mentioned, be on the top, followed by the recently expired beacons.

[2022-01-22 09:49] ItsAdityaKSingh opened #84 "Different beacon card colors"
**Is your feature request related to a problem? Please describe.**
The color for both active and expired beacon cards on the home screen is the same.

**Describe the solution you'd like**
A different card color for expired and active or prescheduled beacons.

**Are you working on this? (Yes/No)*
Yes

[2022-01-22 09:59] ItsAdityaKSingh commented on #79
We could make it simple for users by capitalizing our input in-app only.

[2022-01-22 10:26] Pavel401 commented on #78
Yeah,but I found https://github.com/nguyenxdat/flutter_geocoder  this.It has null safty.

[2022-01-22 11:17] Pavel401 commented on #58
@nb9960 Please assign me this issue,if nobody is working on it.

[2022-01-22 12:59] ItsAdityaKSingh commented on #58
Hey @Pavel401. I am gradually working on resolving this issue and making a PR. If not resolved, I will convey it here!

[2022-01-22 13:01] Pavel401 commented on #58
Okay fine.

[2022-01-23 09:18] ItsAdityaKSingh commented on #10
Hey @Literal-Eval! Are you still working on this? Got this error so thought of solving it.

[2022-01-23 09:19] ItsAdityaKSingh commented on #10
@nb9960 Got this error while launching app on different devices. Could I look into solving this?

[2022-01-23 12:15] #57 closed

[2022-01-23 12:15] #6 closed

[2022-01-23 12:56] #76 closed

[2022-01-23 14:22] #79 closed

[2022-01-23 19:09] ItsAdityaKSingh opened #90 "Add countdown for prescheduled beacons"
**Is your feature request related to a problem? Please describe.**
A countdown to the start of a prescheduled beacon can be implemented.

**Describe the solution you'd like**
Adding a timer to the start of hike for pre-scheduled hikes

**Are you working on this? (Yes/No)**
Yes

[2022-01-23 19:36] ItsAdityaKSingh opened #91 "Feature for refreshing beacons"
**Is your feature request related to a problem? Please describe.**
Users can't fetch recently activated beacons as there is no way of refreshing screen.

**Describe the solution you'd like**
Adding a pull to refresh option for beacons.

**Additional context**
Add any other context or screenshots about the feature request here.

https://user-images.githubusercontent.com/69353350/150695008-4e17d479-

[2022-01-24 10:33] RohanSengupta326 opened #92 "the 'minutes' is not showing properly when selecting time. So proper minutes can't be set."
<img src="https://user-images.githubusercontent.com/64458868/150766437-c92e6122-b04c-4492-872f-bf562de492dd.jpeg" width="24%" />

[2022-01-24 12:34] RohanSengupta326 commented on #92
No, I am not @ItsAdityaKSingh

[2022-01-24 12:45] ItsAdityaKSingh commented on #92
Thanks for notifying @RohanSengupta326. I would work on resolving the issue. Could you confirm on which device was this issue noticed?

[2022-01-24 18:18] #73 closed

[2022-01-25 04:42] RohanSengupta326 commented on #92
@ItsAdityaKSingh, I used a physical device(Android, Samsung Galaxy A7).

[2022-01-25 11:53] ItsAdityaKSingh commented on #92
@RohanSengupta326 Could you test PR #93 and check if the problem persists?

[2022-01-25 17:55] #84 closed

[2022-01-25 17:55] #90 closed

[2022-01-25 18:12] #75 closed

[2022-01-25 18:58] ItsAdityaKSingh opened #95 "Keyboard stays open after typing in Title"
**Describe the bug**
Keyboard stays open after typing in Title or choosing any other field on create hike box.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Home'
2. Click on 'Create Hike'
3. Click title and then click other fields.
4. See error

**Expected behavior**
The keyboard should close down upon tapping anywhere else than title textfield.

**Demonstration**

https://user-im

[2022-01-25 22:23] Aadeesh11 commented on #35
The changes made to backend repo have not been deployed yet. To test, setup the backend locally after forking the backend repo.

[2022-01-26 18:44] ItsAdityaKSingh opened #98 "Change preference of shown nearby beacons"
**Is your feature request related to a problem? Please describe.**
List of fetched beacons in nearby beacons is in the order of Upcoming -> Active.

**Describe the solution you'd like**
The Active beacons should be shown first
<img src="https://user-images.githubusercontent.com/69353350/151226436-c58acf86-d04a-424c-88a6-879fd516c1e0.png" height="500"/>

**Are you working on this? (Yes/No)**
Yes

[2022-01-26 19:08] ItsAdityaKSingh opened #100 "Post beacon activation snackbar functionality + UI"
**Is your feature request related to a problem? Please describe.**
The in-app snackbar used to show when a beacon is active, can be used to click and join the join immediately. Also, Ui of snackbar can be improved.

<img src="https://user-images.githubusercontent.com/69353350/151229804-013cb936-eb05-4d5d-b53f-b3c2f02ba9f2.png" height="500"/>

**Are you working on this? (Yes/No)**
Yes

[2022-01-27 12:28] Aadeesh11 opened #102 "Feature request: Display markers for each and every user of the beacon."
Display markers for each and every user of the beacon.

**Describe the solution you'd like**
Initially i will be trying to setup stream subs. for all user locations, and check how inefficient it really is.

Also open to other ideas and solutions that can be implemented.

**Additional context**
Open for discussion.

**Are you working on this? (Yes/No)**
Yes

[2022-01-27 19:53] ItsAdityaKSingh opened #103 "Feature : Adding countdown for hike screen"
**Is your feature request related to a problem? Please describe.**
There is no countdown on the hike screen for how long a hike is active.

<img src="https://user-images.githubusercontent.com/69353350/151432527-9efece3c-8429-4cee-920b-266223e7630e.png" height="500"/>

**Describe the solution you'd like**
Add a countdown timer instead of the time of expiry on the hike screen.

**Additional context*

[2022-01-28 18:58] ItsAdityaKSingh opened #104 "Touching buttons on hike screen for smaller screens"
**Describe the bug**
Buttons on hike screen are too close for small screen sizes

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Hike Screen'
2. See error

**Expected behavior**
The buttons should not touch or overlap

**Demonstration**
<img src="https://user-images.githubusercontent.com/69353350/151605778-f400ae89-276c-46b6-b401-87e3892ed5f3.png" height="500"/>

**Environment**
- De

[2022-01-29 08:04] #25 closed

[2022-01-29 08:04] #71 closed

[2022-01-29 08:04] #81 closed

[2022-01-29 08:05] nb9960 commented on #71
@noman2002 Feel free to reopen this issue if the issue still persists

[2022-01-29 10:53] nb9960 commented on #92
I don't think this issue is caused due to the theme of the dialog box or text size. So PR #93 may not fix this. This seems to be more of a device or package related issue.

[2022-01-29 10:58] ItsAdityaKSingh commented on #92
Yup, I checked it on various screen sizes and did not get any error. But looking into this issue, I tried solving it by reducing font size for time fields.

[2022-01-29 19:12] ItsAdityaKSingh opened #107 "Feature: Delete created beacons or edit start/end time and duration"
**Is your feature request related to a problem? Please describe.**
There is no option to delete a beacon or edit its choices once created.

**Describe the solution you'd like**
Users should be given an option to delete or edit a beacon created by him/her.

**Are you working on this? (Yes/No)**
Yes

[2022-01-30 11:26] Omegaviv opened #108 "Loading indicator is missing in Nearby Beacons"
There is no spinner in Nearby  Beacons to indicate that it is loading data to display.

After exiting from a beacon when a user goes back to NearBy Beacons, the text "No nearby beacons found :(" is shown, then after a few milliseconds the beacons are displayed.

<p float="left">
<img src="https://user-images.githubusercontent.com/86337946/151697466-985b9d1b-19a3-494a-a5f3-e5a05ad793f2.jpg" height=

[2022-01-30 19:20] #92 closed

[2022-01-30 20:04] nb9960 commented on #107
PR #97 adds the feature to edit the duration and deactivate the hike, and I don't think we need a mutation to edit the start time. But this issue is open for suggestions/discussion.

[2022-01-30 20:09] nb9960 commented on #103
The countdown isn't necessary if expiry DateTime is already mentioned as both provide the same information.
For the latter part, hike screen and map should be visible even though it has expired so that one can view the route if needed.
If you want to suggest anything then feel free to comment, else I'll close this issue.

[2022-01-30 20:38] ItsAdityaKSingh commented on #107
The mentioned PR is useful for deactivating or terminating a hike, but it would not help in removing it from the list of beacons created. This issue is in regard with the home screen where, if user wants, can delete a hike or edit its details from home screen itself.
And for the mutations, maybe the user created a hike with wrong timings or duration, so user should be allowed to edit a hike's deta

[2022-01-30 20:41] ItsAdityaKSingh commented on #103
I was thinking about introducing a timer with end time to make it more user-friendly.

**Previously**:
<img src="https://user-images.githubusercontent.com/69353350/151716967-3740c5c8-2665-42bf-99cc-788cf518a0a0.png" height="500"/>

**Suggested**:
<img src="https://user-images.githubusercontent.com/69353350/151716969-749569a8-a8df-4964-b4d2-1efcadbc91f5.png" height="500"/>

[2022-01-30 20:43] ItsAdityaKSingh commented on #103
Also, for the latter part, instead of a dialog box we could show a pop up with message showing 'Beacon has expired' and option to return home, for a few secs.

[2022-01-31 16:35] Omegaviv commented on #104
is anyone working on this?

[2022-02-01 16:23] #95 closed

[2022-02-01 17:23] #104 closed

[2022-02-01 19:16] Pavel401 opened #110 "Logout Dialog is not rounded like other dialogs in the app."
**Describe the bug**
AlertDialog Typically used in conjunction with [showDialog].

**To Reproduce**
Open App>FloatingActionButton>DiaLog

**Expected behavior**
AlertDialog should have a shape and contentPadding.
**Demonstration**
Before            |  After
:-------------------------:|:-------------------------:
![27e0e8cb-80a8-4671-a372-a10ffbeb5f26](https://user-images.githubusercontent.com/47685

[2022-02-04 09:40] Omegaviv opened #113 "Multiple Share screen opens up"
If we click the share button multiple time at a time, multiple share screen opens up. As shown below in the demo video.

https://user-images.githubusercontent.com/86337946/152506231-3eb38d62-d2d8-45d3-8a13-6650f92d27c0.mp4

A simple fix to this can be that before opening check if already a share screen is open, close it and then open a new one.

is this the correct way, and should I work on this t

[2022-02-04 19:38] Aadeesh11 opened #117 "Feature: Animate markers position and transitions."
**Is your feature request related to a problem? Please describe.**
Currently the map markers, when location changes, pop in and out, leading to a bad UX.

**Describe the solution you'd like**
I would like to animate markers position and transitions, so that it feels smooth and looks premium.

**Are you working on this? (Yes/No)** YES

[2022-02-05 17:29] #98 closed

[2022-02-05 17:37] #100 closed

[2022-02-05 17:47] #108 closed

[2022-02-05 18:38] ItsAdityaKSingh opened #118 "Errors while running with Flutter 2.10"
**Describe the bug**
Errors while debugging using Flutter 2.10

**To Reproduce**
Steps to reproduce the behavior:

1. flutter upgrade
2. Run main.dart
3. See error

**Expected behavior**
No errors should occur

**Demonstration**

<img width="745" alt="Screenshot 2022-02-05 at 11 54 44 PM" src="https://user-images.githubusercontent.com/69353350/152654519-8009db90-23d6-471b-b1e1-790958ec0a30.png">

[2022-02-05 19:22] #52 closed

[2022-02-06 19:19] ItsAdityaKSingh opened #120 "Beacon list reloads each time State is updated"
**Describe the bug**
The beacon list on the home screen reloads each time when the state is updated

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Home Screen'
2. Click on 'Create/Join'
3. Click on any text field
4. See error

**Expected behavior**
The widget should be built once the screen has been built. Reloading shouldn't happen every time state chages.

**Demonstration**

https

[2022-02-07 11:23] B-Anupam commented on #10
Hi, I would like to work on this issue. Please assign this to me.

[2022-02-07 19:28] ItsAdityaKSingh opened #123 "Beacon does not deactivate when leader terminates the hike"
**Describe the bug**
Beacon does not deactivate when the leader terminates the hike while leaving.

**Expected behavior**
After permission is taken to terminate a hike, it should get terminated.

**Demonstration**

https://user-images.githubusercontent.com/69353350/152857973-1fac4d44-0738-458d-b766-a97d3712f80f.mov

**Are you working on this issue? (Yes/No)**
Yes

[2022-02-07 19:41] ItsAdityaKSingh opened #124 "ScaffoldMessenger build being called by Countdown-timer during building widgets"
**Describe the bug**
The ScaffoldMessenger widget cannot be marked as needing to build because the framework is already in the process of building widgets. This causes an error if clicked immediately.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Home Screen'
2. Create a Hike
3. Switch tabs upon timer becoming 0.
4. See error

**Expected behavior**
No errors and smooth build

**Dem

[2022-02-08 15:39] #78 closed, assigned to nobody

[2022-02-08 17:06] Aadeesh11 commented on #123
Beacon should be active if leader stops location sharing for others to share route. Also if the group is taking a break then in that case leader wants to stop location sharing but does not want to end the hike (which will happen if this is implemented) and will have to create a new beacon altogether. Also there is a direct method to deactivate the beacon.

[2022-02-08 17:18] Aadeesh11 opened #126 "Feature Request: Reactivate Beacon after it has expired on leader's demand."
**Is your feature request related to a problem? Please describe.**
Once a beacon has ended there is no way to reactivate, which sometimes can be a bad UX.

**Describe the solution you'd like**
Would like to allow  leader to reactivate an active beacon.

**Are you working on this? (Yes/No)**
Yes

[2022-02-08 17:53] #3 closed

[2022-02-08 17:54] ItsAdityaKSingh commented on #123
I don't think there's a need to pause location sharing or deactivate to again turn on a beacon. The issue is for deactivating after it asks for termination. The issue you are suggesting is for the beacon to be paused or keep running in the background to have a break and stuff. But once the leader exits a hike, and that too after confirming termination, the beacon should end for all.

[2022-02-08 17:59] ItsAdityaKSingh commented on #126
Doesn't the app ask for a confirmation to deactivate a beacon? If a leader deactivates it, reactivating it again wouldn't seem like a genuine option afaik, and maybe bringing in this option would increase complexity. The beacon itself remains active until the leader wishes to terminate it.

[2022-02-08 19:54] Aadeesh11 commented on #126
Yes leader can change his mind , no?😅
Giving users option to reactivate a beacon saves a lot of time for the group, no sharing short code again , no multiple beacon on home screen.

[2022-02-08 20:00] Aadeesh11 commented on #123
What Termination currently does is that it stops the location sharing of leader, If you deactivate the beacon then route can't be shared, also if leader wants to pause the beacon, there would'nt be an option. Inshort termination of beacon is , imo, pausing it until resumed or it expires. I think ability to pause is better than deactivating it 😅.

[2022-02-08 20:16] ItsAdityaKSingh commented on #123
I guess that's the real meaning of termination and not pausing a hike😅. There's no purpose in pausing a hike if it doesn't stop unless it expires or is deactivated upon the leader's demand. And if a leader is asked and confirms to terminate a hike while leaving it, it must end it for all.

[2022-02-08 20:22] Aadeesh11 commented on #123
Yes, we can change the change the message to say pause the hike?😅

[2022-02-08 20:33] ItsAdityaKSingh commented on #126
Wouldn't that make users to keep on reactivating the same beacon again and again? XD
Also, for the respective feature you will have to edit it's details, a feature which is being taken care of in issue #107. Creating another issue with the same required changes wouldn't be necessary imo.

[2022-02-08 20:37] Aadeesh11 commented on #126
Yes they can keep reactivating it again and again, and save the hassle of creating a new one everytime. Closing this issue, since #107 handles.

[2022-02-08 20:38] #126 closed

[2022-02-08 20:45] Aadeesh11 opened #127 "Feature Request: Custom Hike reminders."
**Is your feature request related to a problem? Please describe.**
Building up on #52, we can add custom reminders (msg and time). For eg using a TimePicker() user can select time to be reminded at, default being 1 hr before the hike.

**Are you working on this? (Yes/No)**
Yes

[2022-02-08 20:46] ItsAdityaKSingh commented on #123
Appreciate your views :)

[2022-02-09 03:25] devansh12b2 opened #128 "Feature Request: Deactivation Button on Hike screen"
**Is your feature request related to a problem? Please describe.**
As of now, backend mutation is available to change the duration of the beacon and by setting it to zero leader can terminate the beacon but it's not user-friendly.

**Are you working on this? (Yes/No)**
Yes

[2022-02-09 03:31] devansh12b2 opened #129 "UI Improvement: To many FAB on the hike screen"
The hike screen has many FAB already, and after adding the deactivation button, UI will look a bit clustered.
A SImple solution is to find a package that can animate these buttons into one, and when clicked, all the three buttons pop out of it to use.

I am working on this issue.

[2022-02-09 06:09] ItsAdityaKSingh opened #130 "Alert box for followers when a leader pauses, exits or ends a hike"
**Is your feature request related to a problem? Please describe.**
There's no alert for the followers for when the user has paused location sharing or has ended the hike.

**Describe the solution you'd like**
Providing an alert message to the followers with respect to the actions being performed by the leader.

**Are you working on this? (Yes/No)**
Yes

[2022-02-09 06:10] ItsAdityaKSingh commented on #129
You would like to change the title from 'To' to 'Too' :)

[2022-02-09 08:44] Omegaviv opened #131 "Widget to display no. of followers on beacon card"
# Feature improvement
Adding a widget icon to display the number of followers on the beacon card.

Also on tap on that icon widget, we can display the names of the followers.

This can be a handy feature, where users can directly view the number of followers and can check them without opening the hike screen.

<img src="https://user-images.githubusercontent.com/86337946/153157556-f8bb6a95-72c6-4f2

[2022-02-09 14:20] ItsAdityaKSingh commented on #131
Maybe the cards must be left with only the useful information being shown atm. Adding more and more information could make it chaotic and less appealing. The number of followers shouldn't matter ig. Your opinion?

[2022-02-09 14:54] Omegaviv commented on #131
Yes your are right more information could make it chaotic. But also showing followers on the card would give a feel that it is some kind of room, so the user knows clicking the card would provide more details. What do you think?

[2022-02-09 15:43] devmrfitz opened #132 "Make placeholder text in "Your Beacons" interactable"
**Is your feature request related to a problem? Please describe.**
When the app launches and _Your Beacons_ section is empty, the following screen is shown:
![image](https://user-images.githubusercontent.com/58381523/153235651-b73757ef-2057-422a-80d8-d180250cbc8b.png)
The circled buttons are yellow in colour and hence look interactable, but they aren't.

**Describe the solution you'd like**
Try to

[2022-02-09 16:21] Omegaviv commented on #131
Yes I think you have a point, leaving it simple and clean would be appropriate. Thanks✌️

[2022-02-09 16:28] devmrfitz commented on #132
Thanks for you opinions @ItsAdityaKSingh. Sounds fair that the extra actions might get repetitive. But the text being yellow also prompts the user that it is interactable in some manner. To avoid confusion, should we make the yellow "create" and "join" text back to black?

[2022-02-09 16:32] ItsAdityaKSingh commented on #131
Thanks for understanding my views @Omegaviv! I am open to any other discussion you would like to have or propose :)

[2022-02-09 16:35] ItsAdityaKSingh commented on #132
I guess leaving them as they are would be better cause they were introduced in the first place for the same purpose of bettering UI. Regarding it or any further queries could be answered by @nb9960 :)

[2022-02-09 17:32] devmrfitz opened #133 "Resolve Splash deprecation warning"
**Is your feature request related to a problem? Please describe.**
When building the app, the following warning is displayed:
`W/FlutterActivityAndFragmentDelegate(30068): A splash screen was provided to Flutter, but this is deprecated. See flutter.dev/go/android-splash-migration for migration steps.`

@nb9960 Should I look into this?

**Are you working on this?**
Yes

[2022-02-09 18:32] adarsh-technocrat opened #135 "Add Environment config file"
**Describe the Issue**

The issue is currently we are calling this  `FlutterConfig.get(<Env Variable>)`   everywhere where it's needed. Instead, the proposed solution is to create a `class ` and declare these as static variables.  And also add **IOS Google Map API Key**  in **Env Variables** so that developers can test this app in both Android and IOS.

Thank You :)

 Cc: @nb9960  @Aadeesh11  @Its

[2022-02-09 18:40] nb9960 commented on #135
Agreed with the fact that Google maps for iOS need to be configured.
With respect to the former part, sharing secret keys publicly is a bad practice, so this obviously shouldn't be done. One needs to fetch their own keys.

[2022-02-12 13:39] Aadeesh11 opened #136 "Sync the updates for all and stop the subscriptions if beacon has been deactivated"
I mean will this sync the updates for all and stop the subscriptions if beacon has been deactivated?

After https://github.com/CCExtractor/beacon-backend/issues/107 is resolved this can be implemented at frontend also.

Are you working on this?
Yes, once the backend is ready.

_Originally posted by @nb9960 in https://github.com/CCExtractor/beacon/pull/97#discussion_r805160175_

[2022-02-12 15:28] nb9960 opened #137 "Maintain state when app runs in background"
**Is your feature request related to a problem? Please describe.**
When app is in background, i.e when user uses another app and then comes back, then beacon state is lost and map screen goes blank.

**Describe the solution you'd like**
When app is in background, navigation and updates should still be fetched. Infact, minimising the app when it's in background would be great to have (like we have

[2022-02-12 16:29] #117 closed

[2022-02-12 16:43] #124 closed

[2022-02-12 17:12] nb9960 commented on #133
This issue is somewhat related to #58, you can comment there to get assigned if no one is working on it, closing this one for now.

[2022-02-12 17:12] #133 closed

[2022-02-12 17:16] nb9960 commented on #132
Instead of making it actionable, turning it into bold black would be a better option to avoid confusion.
Also why this panel is overlapping in your screen, have you pulled the recent commits?

[2022-02-12 17:23] #35 closed

[2022-02-12 17:25] nb9960 commented on #56
Closing this issue for now.

[2022-02-12 17:25] #56 closed

[2022-02-12 17:45] nb9960 commented on #113
How would you check that?

[2022-02-12 17:52] Aadeesh11 commented on #137
I would too like to work on this!

[2022-02-12 17:53] nb9960 commented on #128
PR #97 will hopefully handle this.

[2022-02-12 17:53] #128 closed

[2022-02-12 18:14] devansh12b2 commented on #137
I would too  like to work on this!

[2022-02-12 18:53] devmrfitz commented on #132
@nb9960 I do have the latest commits. Maybe it's due to it being an emulator and not a physical device?

[2022-02-12 18:59] #135 closed

[2022-02-13 05:19] Omegaviv commented on #113
Yes that's what the problem is I am not finding anything that can check that

[2022-02-14 05:50] Pavel401 opened #139 "Outdated sdk"
**Describe the bug**
During debugging many warnings are poping.

- Warning: The plugin flutter_local_notifications requires Android SDK version 31.
- Warning: The plugin path_provider_android requires Android SDK version 31.
- Warning: The plugin share_plus requires Android SDK version 31.
- Warning: The plugin url_launcher_android requires Android SDK version 31.
- Your project requires a newer v

[2022-02-15 10:27] ItsAdityaKSingh commented on #139
Issue #118 also marks the same error. You would like to check it first :)

[2022-02-16 16:01] #46 closed

[2022-02-16 16:28] Aadeesh11 commented on #113
I think we can do something similar to [this](https://stackoverflow.com/questions/55634168/how-to-check-whether-alert-dialog-is-open-in-flutter), and hide the button when share screen is open and un-hide when the screen is closed.

[2022-02-16 16:34] axl0d commented on #113
this happen when call from the `showBottomSheet` function, should call from scaffold `currentState.showBottomSheet`

[2022-02-18 19:32] ItsAdityaKSingh commented on #132
Maybe cause the sliding panel of your notifications panel is not quite what it should be like. It's a bit broader.

[2022-02-24 12:47] Omegaviv opened #141 "Disable Expired beacons to be accessed by users."
**There is no reason to let any user open any expired beacons, right?**

Instead what we can do is add a popup whenever a user clicks on an expired beacon saying that the beacon has already expired join a new one or create a one.

https://user-images.githubusercontent.com/86337946/155526046-aef043fa-3d0e-4e78-955f-41c3fd573d6d.mp4

**Do you think it is a good improvement?**

[2022-02-25 13:39] ItsAdityaKSingh commented on #141
I guess being able to open expired beacons and see the past hikes, followers, locations, etc., is as desired. It already shows that the hike is expired when it is opened up, but along with it also shows the extra info, so that's better imo :)

[2022-02-25 13:40] ItsAdityaKSingh commented on #141
Could you also share details of what emulator/device you are running the app on? The button-text seem to be misaligned.

[2022-02-25 14:49] Omegaviv commented on #141
Yes I am running on Vivo v11 pro

[2022-03-04 14:41] ItsAdityaKSingh opened #143 "Splash Screen deprecated after Flutter version 2.5"
**Describe the bug**
A splash screen was provided to Flutter, but this is deprecated after version 2.5+ flutter updates.

**To Reproduce**
Steps to reproduce the behavior:

1. Run app.
2. Check Debug Console

**Expected behavior**
No warnings or errors should be displayed

**Demonstration**

<img width="1109" alt="Screenshot 2022-03-04 at 8 00 08 PM" src="https://user-images.githubusercontent.com/

[2022-03-08 15:05] ItsAdityaKSingh opened #147 "Update Hike Screen once a hike has ended"
**Describe the bug**
There's no update on the hike screen after a Hike is ended.

**Expected behavior**
Screen should either get updated by itself after expiration of hike or should notify the users that the ***Hike has Expired***, and provide a ***Refresh*** button along to update the hike.

**Demonstration**

https://user-images.githubusercontent.com/69353350/157264564-c0c0c563-ffdf-4104-a0b8-f1

[2022-03-08 15:06] ItsAdityaKSingh commented on #147
@nb9960 Would really appreciate your views on this :)

[2022-03-10 16:02] Arjun2905 opened #148 "Modification request in applied feature :"
Description : Requesting for improving visual spacing among action buttons on home screen.

Reason :

1. Provide better UI according to standards.
2. Provides clear speculation to user about buttons.
3. Prevents hindrance of tapping from bottom section of the button.

Outputs :

**Before :-**
![1646927728345](https://user-images.githubusercontent.com/66715308/157701134-a0d66c66-20c6-42b9-9da1-80e8

[2022-03-11 14:16] ItsAdityaKSingh commented on #130
Hey @AshAman999, I'm working on resolving this issue. It is stalled because it is somewhat related to issue #147. Also, it could be completely implemented post-resolvement of issue #136. This issue is open for discussions though, if any thoughts occur :)

[2022-03-12 03:21] AshAman999 opened #149 "obsecure the passkey in the nearby beacons section"
**Is your feature request related to a problem? Please describe.**
When someone creates a hike, it is visible to all the users nearby with the passkey. And hence anyone can join the hike. Isn't it a possible threat to the security of the persons in the hike as one can join that hike with the given  passkey

**Describe the solution you'd like**
Though the nearby beacons should be visible to others,

[2022-03-12 09:29] AshAman999 opened #150 "Email identity verification"
**Is your feature request related to a problem? Please describe.**
Currently the user can create account with anyone's mail, a verification flow would be good

**Describe the solution you'd like**
When creating an account, a email should be sent to the user and when opened and approved then would create the account

**Describe alternatives you've considered**
open for further suggestions and discu

[2022-03-12 09:31] AshAman999 opened #151 "Email identity verification"
**Is your feature request related to a problem? Please describe.**
Currently the user can create account with anyone's mail, a verification flow would be good

**Describe the solution you'd like**
When creating an account, a email should be sent to the user and when opened and approved then would create the account

**Describe alternatives you've considered**
open for further suggestions and discu

[2022-03-12 10:00] Pavel401 commented on #151
Duplicate issue of #150

[2022-03-12 10:32] AshAman999 commented on #151
My bad, I guess due to slow network i hit the submit button twice and so

[2022-03-12 10:32] #151 closed

[2022-03-12 10:34] AshAman999 commented on #151
My bad, I guess due to slow network i hit the submit button twice and so

[2022-03-12 14:38] ItsAdityaKSingh commented on #150
This would require changes in the backend before changes are made here.

[2022-03-12 14:40] ItsAdityaKSingh commented on #149
What type of threat to security are you posing, could you elaborate? Also, if one could see or join the hike without seeing the **Passkey** itself, then what would be the use of hiding it :)

[2022-03-12 15:39] AliAkberAakash commented on #120
Is this available?

[2022-03-12 15:40] AshAman999 commented on #149
A possible threat may be getting into trouble if getting followed by someone creep that the leader didn't intend to share with.
Also as said anyone can join the hike when it's public so that behavior should be limited too in my opinion.
Your views @ItsAdityaKSingh

[2022-03-12 16:13] AliAkberAakash opened #152 "Kotlin version needs to be updated for running with the latest Android Studio version in mac."
**Describe the bug**
I tried to build the project for the first time and I had to update my Kotlin version in order for it to be built with the latest Android Studio Bumblebee 2021.1.1 Patch 2, in MacBook Pro 2018.

**To Reproduce**
Clone the project and try to build it with latest android studio version on a Mac device.

**Expected behavior**
Should build without any errors.

**Demonstration**
Th

[2022-03-12 16:20] AliAkberAakash opened #153 "Need to update `compileSdkVersion` and `targetSdkVersion`"
**Describe the bug**
Currently the `compileSdkVersion` and `targetSdkVersion` are set to `30` and some plugins used require it to be latest (31).

**To Reproduce**
Clone the repo and build it.

**Expected behavior**
Should build without any errors.

**Demonstration**
Stacktrace:
`Warning: Mapping new ns http://schemas.android.com/repository/android/common/02 to old ns http://schemas.android.com/re

[2022-03-12 17:29] cfsmp3 commented on #150
We should probably do this, even though we don't do anything with those email addresses.

[2022-03-13 04:27] AshAman999 commented on #153
The issue #118 talks about it and the pr #119 handles the same i guess,

[2022-03-13 04:28] AshAman999 commented on #153
The issue #118 talks about it and the pr #119 handles the same i guess,

[2022-03-13 04:30] AshAman999 commented on #153
The issue #118 talks about it and the pr #119 handles the same i guess,

[2022-03-13 05:46] Apoorvgarg-creator commented on #123
@ItsAdityaKSingh Can I work on this feature?

[2022-03-13 05:59] AshAman999 opened #154 "Confirm password field box in signup page"
**Is your feature request related to a problem? Please describe.**
Like most authentication systems usually, there s a confirm password text field on the sign-up page, it's missing in this app.

**Describe the solution you'd like**
A second confirm password box would do the job that would show a toast if the password is a mismatch

**Describe alternatives you've considered**
Either we can simply s

[2022-03-13 05:59] AshAman999 commented on #154
I have already done something like this in my previous app if possible plz assign this to me so I could start working on the same @nb9960

[2022-03-13 07:24] Arjun2905 opened #155 "Feature Request : Filter functionality in our beacons"
**Is your feature request related to a problem? Please describe.**
Suppose in crew of several members different people are able to create a beacon. It will become a tedious task to look upon every beacon to search a particular beacon.

**Describe the solution you'd like**
Here the filter functionality can play a vital role to optimize searching based on the person who had created a beacon. Current

[2022-03-13 07:25] Arjun2905 commented on #155
@nb9960 would like to hear some of your suggestion's on it.

[2022-03-13 07:54] ItsAdityaKSingh commented on #152
Duplicate of issue #118

[2022-03-13 08:21] ItsAdityaKSingh commented on #123
@Apoorvgarg-creator This feature isn't approved for being added. If approved, I would work on it; else, if not able to resolve it wholly, you may take it up :)

[2022-03-13 08:21] ItsAdityaKSingh commented on #123
@nb9960 Your views on this feature?

[2022-03-13 13:04] ItsAdityaKSingh commented on #120
Gonna make a PR soon for this. A little delayed due to academics. If not resolved, you may see this through @AliAkberAakash :)

[2022-03-14 23:15] cfsmp3 commented on #155
This is a useful feature for sure; however searching by "name" is going to be incomplete, if name here means the name of the person.

Suppose this very common use case: A hike group that goes out every weekend have several leaders, and one of them takes the group out each day. There's many people that can go on these hikes (as "followers") who may or may not go.

My point here is that we'd need to

[2022-03-14 23:17] cfsmp3 commented on #154
I have to say I hate having to type the password twice :-) I very much prefer having an "eye" icon so I can see what I typed rather than typing the password blindly twice.

Also, while we are on the topic of passwords and signing in / signing up - I don't know if we've tested it with 1password and other password managers. Usually they just work, but it would be nice to confirm.

[2022-03-18 17:12] Arjun2905 commented on #155
@cfsmp3 yeah according to the existing codebase your point seems to be completely valid over here, Earlier I was thinking to displaying names of those names people only who have created a beacon but thinking on your advice I guess it will just clatter the names of all people who have created any beacon and for that we need groups functionality for that. I'll definitely try to put your advice in we

[2022-03-20 10:30] vik4114 commented on #149
@ItsAdityaKSingh My suggestion would be to give an option to the creator of the beacon of letting people in automatically or by confirming. So whenever a person joins a hike then-leader has to approve it.

[2022-03-20 11:03] vik4114 opened #158 "This line is misleading as a text field"
**Is your feature request related to a problem? Please describe.**
This line is misleading as a text field and if it is acting as a partition still it is not symmetric

**Screenshot**
![Screenshot_1647773488_1](https://user-images.githubusercontent.com/46121493/159159082-216564c3-fbb6-4b0b-beae-bd6e3e82919d.png)

**Describe the solution you'd like**
I think we should remove it

**Describe alternat

[2022-03-21 06:45] vik4114 commented on #158
@nb9960 What do you think?

[2022-03-21 08:04] ItsAdityaKSingh commented on #158
@vik4114 afaik that line is a mere partition between the two fields and is only for UI purposes. It has nothing to do with the textfields or symmetry. It's there to only get a general idea to users for where the divide lies between them.

[2022-03-21 08:10] ItsAdityaKSingh commented on #149
@AshAman999 I personally guess that these hikes aren't something so personal or vulnerable that an unknowing person joining could do any harm for some reason. Think about another case as, if a needy or lost person finds a nearby beacon and connects with it, that person could, in the worst circumstances, even save himself and get the much-needed help from the group. The positives here outweigh it :

[2022-03-21 08:11] ItsAdityaKSingh commented on #149
Do you mean like in an online meet? @vik4114

[2022-03-21 08:20] vik4114 commented on #149
@ItsAdityaKSingh  Yes

[2022-03-21 08:26] vik4114 commented on #158
@ItsAdityaKSingh But without the line it looks good

[2022-03-24 10:51] #118 closed

[2022-03-24 10:52] nb9960 commented on #153
Closing this as this is PR #119 fixes this.

[2022-03-24 10:52] #153 closed

[2022-03-24 12:30] #139 closed

[2022-03-31 18:26] nb9960 commented on #158
I guess the same follows for the other text fields too and because UI needs to be consistent, you'll have to make the changes throughout.
Additionally, that line acted as a partition removing it doesn't look good, the latter one is still better (i.e, to add the line below the text field)

[2022-03-31 18:35] nb9960 commented on #154
I don't think secure-auth is much of a concern for such kind of application instead it might be a bit complicated from the user's point of view, using 1password would indeed be better.
Still, will review the PR once you resolve the conflicts.

[2022-03-31 18:35] #152 closed

[2022-03-31 18:44] nb9960 commented on #149
This seems a better solution to me.

[2022-03-31 18:50] nb9960 commented on #147
Since this is somewhat related to #130 and can be dealt while solving that only, so closing this for now

[2022-03-31 18:50] #147 closed

[2022-03-31 20:13] #132 closed

[2022-04-09 20:43] srockstech commented on #158
@vik4114 Are you still working on this issue?

[2022-04-10 06:06] vik4114 commented on #158
@srockstech Yes, I was stuck with other work, I will raise pr soon.

[2022-04-10 10:12] sushmanthreddy commented on #148
@Arjun2905 are u still working on this issue??

[2022-04-10 10:39] somendrakr commented on #110
Is this issue is still open. if yes can i work on it.

[2022-04-10 15:13] ArV29 commented on #148
@nb9960
I'd like to work on the issue if  @Arjun2905 is unable to

[2022-04-11 08:12] K1RA-16 commented on #148
@Arjun2905 can i work on this ?

[2022-04-11 08:13] K1RA-16 commented on #158
Hi vik can i work on this if possible ??

[2022-04-11 08:19] K1RA-16 opened #159 "Dark Mode"
**Is your feature request related to a problem? Please describe.**
The UI could do a major improvement by introduction of dark mode

**Describe the solution you'd like**
I would like to add dark mode to the application

**Describe alternatives you've considered**

**Additional context**

**Are you working on this? (Yes/No)**
YES

[2022-04-15 12:21] jaiakash opened #160 "Google & Facebook oauth sign up and sign in"
**Is your feature request related to a problem? Please describe.**
Currently, the app only accepts email sign in/signup. Having oauth would be better for the user, then user can sign in with ease.

**Describe the solution you'd like**
Having a google and/or Facebook oauth at sign-in page of app.

**Additional context**
Add any other context or screenshots about the feature request here.

**Are you

[2022-04-15 14:00] K1RA-16 commented on #159
@nb9960 can you please look into this.

[2022-04-15 14:00] K1RA-16 commented on #159
i have a working implementation ready

[2022-04-16 14:12] codewithkushagra commented on #110
I want have resolved this issue, can I make the pr for the same?

[2022-04-16 15:58] codewithkushagra opened #162 "Auto refinement of email address enter by user"
**Describe the bug**
While logging, the redundancies in the Email Address string entered by the users are not filtered automatically by the app, for example if I enter "example@gmail.com " and the actual account is "example@gmail.com" the is shows user does not exist

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Login Screen
2. Enter your email address with extra space at the end
3.

[2022-04-16 16:01] codewithkushagra commented on #162
I want to work on this issue can you assign it to me

[2022-04-16 16:03] codewithkushagra commented on #160
I would like to work on this, I have implemented oauth in flutter previously, I can do it
Can you assign it to me

[2022-04-16 16:13] codewithkushagra opened #163 "Loading animation improvement"
**Is your feature request related to a problem? Please describe.**
The current loading page looks very basic, also when the app loads for first time it just shows an image without any loading animation

**Describe the solution you'd like**
Make a better loading page and improve the current loading animations in app

**Are you working on this? (Yes/No)**
Yes

[2022-04-16 16:13] codewithkushagra commented on #163
Can you assign this issue to me

[2022-04-16 16:27] HarshitGulgulia commented on #162
I have resolved the issue. I am making a PR.

[2022-04-17 15:38] codewithkushagra opened #165 "Misleading UI in login as guest page"
**Describe the bug**
When we login as guest and try to logout it, gives an option of create a new account and redirects us to auth screen. Instead it should show Logout which makes more sense.

**To Reproduce**
Steps to reproduce the behavior:

1. Login as guest
2. Try to logout
3. You get an option of create account
4. Redirects you to auth screen

**Expected behavior**
It should show logout opti

[2022-04-17 15:39] codewithkushagra commented on #165
Can you please assign me this issue @nb9960

[2022-04-18 05:08] nb9960 commented on #165
Why do I need a logout button if I'm a guest? As far as I remember, this was discussed earlier on slack and @cfsmp3 suggested that we shouldn't have a logout button if the user is not logged in.

[2022-04-18 05:25] nb9960 commented on #160
@jaiakash @codewithkushagra Yes, this was planned but how will you guys implement it without updating the backend?

[2022-04-18 05:35] codewithkushagra commented on #165
Actually the thing is, what if I already have an account and I signed in as a guest. If I wanna login from my old account it only gives the option of create a new account, maybe it should say something like go back to login page or something like that

[2022-04-18 05:40] codewithkushagra commented on #160
Actually, we don't have to make too many changes to backend, as by using google_sigin package we can maintain the login states, access tokens and refresh token in frontend itself and I will try to make the required changes in backend.

[2022-04-18 06:39] #165 closed

[2022-04-18 14:43] K1RA-16 commented on #159
@nb9960 I have a working implementation ready that responds to the system theme.

[2022-04-19 06:23] jaiakash commented on #160
Yeah i agree, there are packages for facebook and google oauth which we can use without much changes in backend.
Blog link - [link]( https://fayaz07.medium.com/social-authentication-facebook-and-google-in-flutter-without-firebase-e3ca289ed50c)
[Facebook package](https://pub.dev/packages/flutter_facebook_auth)
[Google package](https://pub.dev/packages/google_sign_in)

[2022-04-27 16:38] Hemantwalia672 commented on #163
Is this issue currently open or the work has been done?

[2022-05-03 15:50] K1RA-16 commented on #159
@nb9960 I have a working implementation ready that responds to the system theme.
can you please assign this to me

[2022-06-03 10:54] #154 closed

[2022-06-24 04:30] #120 closed

[2022-06-24 08:00] ItsAdityaKSingh commented on #10
Is this issue still valid, or are you working on this @B-Anupam?

[2022-06-24 08:01] ItsAdityaKSingh commented on #163
@nb9960 This issue has been resolved in #161

[2022-06-24 08:02] ItsAdityaKSingh commented on #162
@nb9960 This issue has been resolved :)

[2022-06-24 08:04] ItsAdityaKSingh commented on #160
Are you working on proposing changes for this issue @jaiakash?

[2022-06-24 08:15] ItsAdityaKSingh commented on #158
Hey, @vik4114, are you working on resolving this?

[2022-06-24 08:16] ItsAdityaKSingh commented on #149
@AshAman999 Are you working on this?

[2022-06-24 08:16] ItsAdityaKSingh commented on #150
@AshAman999 are you working on this?

[2022-06-24 08:17] ItsAdityaKSingh commented on #148
@Arjun2905 Are you working on this?

[2022-06-26 13:56] codewithkushagra commented on #160
Hey, @ItsAdityaKSingh if @jaiakash is not working on this can I work on it?
I have previously implemented such features so I can implement it easily, let me know if issue open to work on

[2022-06-26 13:58] codewithkushagra commented on #159
I guess it's always good to have a dark mode in apps and also people can plan evening hicks so, dark mode can come in handy then hehe :)
What do you say? @ItsAdityaKSingh

[2022-06-26 14:03] codewithkushagra commented on #91
Is this issue resolved if not can I work on it? @ItsAdityaKSingh

[2022-06-26 23:32] jaiakash commented on #160
No, I am not actively working on it. I guess @codewithkushagra can it if he has worked on a similar issue previously.

[2022-07-04 06:28] ItsAdityaKSingh commented on #160
Ok! If @codewithkushagra you are willing to resolve this issue, I would like to discuss it first. Like how are you planning to change the backend to implement this feature? Currently, whoever registers, the information regarding the users, list of beacons, and everything is saved in our customized backend, where we easily retrieve the information about them. Using Google or Facebook would need to

[2022-07-04 06:29] ItsAdityaKSingh commented on #162
@codewithkushagra you may close this issue!

[2022-07-04 06:30] ItsAdityaKSingh commented on #159
It depends on how we showcase our UI and color schema. Do you also plan on changing the maps from light to dark?

[2022-07-05 06:58] #162 closed

[2022-07-05 07:29] ItsAdityaKSingh commented on #129
@devansh12b2 are you still working on resolving this issue?

[2022-07-05 07:31] ItsAdityaKSingh commented on #131
@Omegaviv, I guess you could close the issue now as it no longer requires to be resolved.

[2022-10-13 10:46] RohanSengupta326 commented on #158
I think no one solved this issue, so I created a PR(#170). So please check. @ItsAdityaKSingh

[2022-10-22 07:26] ItsAdityaKSingh opened #171 "Maps not working properly"
**Describe the bug**
Maps don't show anything on the hike screen.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Group Screen'
2. Click on 'Any Hike'
3. See error

**Expected behavior**
The map should be loaded with proper data and visuals.

**Additional context**
This is due to error in higher versions of google_maps_flutter version

[2022-10-27 08:51] Rushour0 commented on #91
Even I want to work on this if it is not been worked upon @ItsAdityaKSingh

[2022-10-27 10:34] ItsAdityaKSingh commented on #91
Yes, sure! You may work upon this feature and propose changes :)

[2022-11-06 17:06] #171 closed

[2022-11-07 09:16] anmolkulshrestha opened #174 "i have forked and cloned the repo in env.example file value of google maps api key for android and ios is missing what should i do pls help"

[2022-11-13 18:03] pnkr01 commented on #174
Given example inside .env.example is

ANDROID_MAP_API_KEY=<your_android_google_maps_api_key>
IOS_MAP_API_KEY=<your_ios_google_maps_api_key>
HTTP_ENDPOINT=<server's_HTTP_endpoint>(for example: https://beacon.aadibajpai.com/graphql)
WEBSOCKET_ENDPOINT=<server's_websocket_endpoint>(for example: wss://beacon.aadibajpai.com/subscriptions)

1. rename .env example to .env only

![image](https://user-imag

[2022-11-13 18:04] pnkr01 commented on #158
is this issue resolved ??
@ItsAdityaKSingh

[2022-11-13 18:05] pnkr01 commented on #148
Is this issue resolved ?? I would like to work on this @ItsAdityaKSingh

[2022-11-13 18:06] pnkr01 commented on #110
Is this issue resolved and merged??

[2022-11-22 20:30] asmitranjansinha commented on #160
we can use firebase and google/facebook auth packages

[2022-11-22 20:31] asmitranjansinha commented on #160
if anyone is not working on this issue, I can work on it @ItsAdityaKSingh

[2022-11-25 13:35] Rushour0 commented on #91
@ItsAdityaKSingh do check my latest PR

[2022-11-25 13:37] Rushour0 commented on #5
Hey, is this feature being actively worked upon? @nb9960
I would like to contribute in this !

[2022-11-25 13:38] Rushour0 commented on #17
Hey is this issue resolved? @nb9960 Would like to work on it if it hasn't

[2022-11-27 17:35] ItsAdityaKSingh commented on #91
Yes, sorry for the delay! Facing academics, would review it soon asap :)